@model List<eli.models.tbltherapist>

    @{
        ViewBag.Title = "PDF TRY";
    }


    <h2>PDF TRY</h2>
    @{Layout = "~/Views/Shared/_LoginLayout.cshtml";}

    <!DOCTYPE HTML>
    <html>
    <head>
    </head>
    <body>
        <h2>Html List in PDF</h2>
        <table width="100%">
            <tr>
                <td>First Name</td>


            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TherapistFirstName</td>


                </tr>
            }
        </table>
    </body>
</html>
