@{Layout = "~/Views/Shared/_LoginLayout.cshtml";}

@{ if (ViewBag.operate != null)
 {
    @Html.Partial("_Alert", new ViewDataDictionary { { "operate", ViewBag.operate }, { "type", ViewBag.type } })
 }
}

<link href="~/Content/login.css" rel="stylesheet" />
<div class="container center" dir="rtl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="register-form-link">שכחתי סיסמה</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="@Url.Action("IndexLogin", "Login")" id="login-form-link">התחברות</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body" style="background-image:url(~/../../Images/logo-big.png);">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="register-form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)  <fieldset>
                                        <div class="form-group">
                                            <h4><b>הכנס מייל: </b></h4>
                                            <input type="text" name="mail" id="mail" tabindex="1" class="form-control" placeholder="דוא''ל" value="" >
                                        </div>
                                                                       <br />
                                                                       <br />
                                                                       <br />
                                                                       <br />
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit"  class="btn btn-lg btn-primary btn-block" value="שלח">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br />
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
