@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div style="height:100%">
        <br>
        <div id="myCarousel" class="carousel " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Images/pic1.jpg" alt="0" style="width:100%;height:100%">
                </div>
                <div class="item">
                    <img src="~/Images/pic2.png" alt="1" style="width:100%;height:100%">
                </div>
                <div class="item">
                    <img src="~/Images/pic3.jpg" alt="2" style="width:100%;height:100%">
                </div>
              
                
            </div>
        </div>
    </div>
</body>
</html>  
