<meta charset="utf-8">

    <meta name="viewport" content="width=device-width" />
    <title>EndOfWizard</title>

    <div>
        <div class="medium" align="right" style="color:blue">
            <br />
            המטופל נוסף בהצלחה, כדי לחזור למסך המטופלים לחץ
            @Html.ActionLink("כאן", "IndexPatients", "Patient", new { n = "" }, new { @class = "link" })
            <br /><br />
            במידה וברצונך להוסיף מטופל נוסף לחץ
            @Html.ActionLink("כאן", "Step1", "WizardFormPatient", new { n = "" }, new { @class = "link" })
        </div>
    </div>