<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>התחברות</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<body background="~/Images/background.jpg">

    <br />
    <br />
        @RenderBody()
    <br />
    
</body>

</html>
