

    @using Eli.Models;

    @{  EliManagerDB db = new EliManagerDB();}

    <select dir="rtl" class="element select" id="reportName" name="reportName" style="width: 300px; height: 30px">
        @{
            int count = 0;
            foreach (string item in db.getAllReportNames())
            {
                <option value="@count" id="@count" onchange="changedReport(id)">@item</option>
                count++;
            }
        }
    </select>