
.big
{
    font-family: 'Nehama', serif;
    font-size: 100px;
    color:blue;
    text-align:center;
}

.medium 
{
    font-family: 'Nehama', serif;
    font-size: 45px;
}


marquee
{
    font-family: 'David CLM', serif;
    font-size: 20px;
    color:#2384a4;
}           
 
.tabs
{
    font-family: 'David CLM', serif;
    font-size: 22.5px;
    font-weight: bold;
    color:black;
} 

.tabsSmall
{
    font-family: 'David CLM', serif;
    font-size: 15px;
    font-weight: bold;
    color:black;
}  

.links
{
    font-family: 'David CLM', serif;
    font-size: 25px;
    font-weight: bold;
    text-align:right;
}     