
.big
{
    font-family: 'Nehama', serif;
    font-size: 80px;
    color:blue;
    text-align:center;
}

.medium 
{
    font-family: 'Nehama', serif;
    font-size: 45px;
}


marquee
{
    font-family: 'David CLM', serif;
    font-size: 20px;
}           
    