

    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
    <meta charset="utf-8">
    <link href='http://serve.fontsproject.com/css?family=Nehama:400' rel='stylesheet' type='text/css'>

<link href='http://serve.fontsproject.com/css?family=Nehama:400' rel='stylesheet' type='text/css'>
<div class="big"> יומן פגישות</div>
    <iframe src="https://www.google.com/calendar/embed?src=gc0kgcdp4hcmfi614gl59s3mbk%40group.calendar.google.com&ctz=Asia/Jerusalem" style="border: 0; width:100%;" height="600" frameborder="0" scrolling="no"></iframe>
