<head>

    <link href="~/Scripts/FontHebrew.css" rel="stylesheet" />
    <meta charset="utf-8">
    <link href='http://serve.fontsproject.com/css?family=Nehama:400' rel='stylesheet' type='text/css'>
</head>
<link href='http://serve.fontsproject.com/css?family=Nehama:400' rel='stylesheet' type='text/css'>
<h5 align="center" style="color:blue">יומן פגישות</h5>
<iframe src="https://www.google.com/calendar/embed?src=gc0kgcdp4hcmfi614gl59s3mbk%40group.calendar.google.com&ctz=Asia/Jerusalem" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>