@model IEnumerable<Eli.Models.tblReference>
@using Eli.Models

<select dir="rtl" class="element select" id="ReferenceNumber" name="ReferenceNumber" style="width: 300px; height: 30px">
    @{
        foreach (tblReference refe in Model)
        {
            string name = "הפנייה בנושא "+refe.ReasonReference;
            <option selected="selected" value="@refe.ReferenceNumber">@name</option>
        }
    }
</select>