<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
   
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrapcss")

    <script src="~/Content/themes/Form/view.js"></script>
    <link href="~/Content/themes/Form/view.css" rel="stylesheet" />
    <script src="~/Content/themes/Form/calendar.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <!----------------------------script for adress from google--------------------------------->
    <script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initialize() {
        // Create the autocomplete object, restricting the search
        // to geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** type {HTMLInputElement} */
            (document.getElementById('autocomplete')),
        { types: ['geocode'] });
    // When the user selects an address from the dropdown,
    // populate the address fields in the form.
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        fillInAddress();
    });
    }

    // [START region_fillform]
    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }
    // [END region_fillform]

    // [START region_geolocation]
    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = new google.maps.LatLng(
                    position.coords.latitude, position.coords.longitude);
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    // [END region_geolocation]

    </script>

</head>
<body onload="initialize()">
    <div class="float-right">
        <div class="bs-example">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href=" #step3" data-toggle="tab">
                        <h4 class="list-group-item-heading" align="right">שלב 3</h4>
                        <p class="list-group-item-text">פתיחת פנייה</p>
                    </a>
                </li>
                <li role="presentation">
                    <a href=" #step2" data-toggle="tab">
                        <h4 class="list-group-item-heading" align="right">שלב 2</h4>
                        <p class="list-group-item-text">פרטים נוספים</p>
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab">
                        <h4 class="list-group-item-heading" align="right">שלב 1</h4>
                        <p class="list-group-item-text">פרטים אישים</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content" style="width: 100%;">
            <form id="form_980618" class="appnitro" method="post" action="">
                <div id="step1" class="tab-pane fade in active" text-align:right">
                    <img id="top" src="~/Content/themes/Form/top.png" alt="">
                    <div id="form_container">

                        <h1><a> פרטים אישיים</a></h1>

                        <div class="form_description" style="text-align:right;">
                            <h2> פרטים אישיים</h2>
                            <p>הכנסת פרטים אישיים של המטופל</p>
                        </div>
                        <ul>
                            <li id="li_1" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_1">תעודת זהות </label>
                                    <div>
                                        <input id="element_1" name="element_1" class="element text " type="text" maxlength="255" value="" style="text-align:right; " />
                                    </div>
                                </div>
                            </li>
                            <li id="li_2" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_2">שם </label>
                                    <span>
                                        <input id="element_2_2" name="element_2_2" class="element text" maxlength="255" size="8" value="" style="text-align:right; " />
                                        <label>משפחה</label>
                                    </span>
                                    <span>
                                        <input id="element_2_1" name="element_2_1" class="element text" maxlength="255" size="14" value="" style="text-align:right; " />
                                        <label>פרטי</label>
                                    </span>
                                </div>
                            </li>
                            <li id="li_8" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_8">מגדר </label>
                                    <div>
                                        <select class="element text" id="element_8" name="element_8">
                                            <option value="1" selected="selected">זכר</option>
                                            <option value="2">נקבה</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li id="li_4" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_4">תאריך לידה </label>
                                    <span>
                                        <input id="element_4_1" name="element_4_1" class="element text medium" size="2" maxlength="2" value="" type="text"> /
                                        <label for="element_4_1">DD</label>
                                    </span>
                                    <span>
                                        <input id="element_4_2" name="element_4_2" class="element text medium" size="2" maxlength="2" value="" type="text"> /
                                        <label for="element_4_2">MM</label>
                                    </span>
                                    <span>
                                        <input id="element_4_3" name="element_4_3" class="element text medium" size="4" maxlength="4" value="" type="text">
                                        <label for="element_4_3">YYYY</label>
                                    </span>

                                    <span id="calendar_4">
                                        <img id="cal_img_4" class="datepicker" src="~/Content/themes/Form/calendar.gif" alt="Pick a date.">
                                    </span>
                                    <script type="text/javascript">
                                        Calendar.setup({
                                            inputField: "element_4_3",
                                            baseField: "element_4",
                                            displayArea: "calendar_4",
                                            button: "cal_img_4",
                                            ifFormat: "%B %e, %Y",
                                            onSelect: selectEuropeDate
                                        });
                                    </script>

                            </li>
                            <li id="li_6" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_6">טלפון </label>
                                    <div>
                                        <input id="element_6" name="element_6" class="element text " type="text" maxlength="255" value="" />
                                    </div>
                                </div>
                            </li>
                            <li id="li_7" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_7">טלפון נוסף </label>
                                    <div>
                                        <input id="element_7" name="element_7" class="element text " type="text" maxlength="255" value="" />
                                    </div>
                                </div>
                            </li>
                            <li id="li_5" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_5">כתובת</label>
                                    <div id="locationField">
                                        <input id="autocomplete" class="element text input-xxlarge" placeholder="הכנס כתובת מלאה" style="text-align:right;" onfocus=" geolocate()" type="text" />
                                    </div>
                                </div>
                            </li>


                            <li id="li_3" style="width:100%">
                                <div style="text-align:right; float:right;">
                                    <label class="description" for="element_3">מייל </label>
                                    <div>
                                        <input id="element_3" name="element_3" class="element text" type="text" maxlength="255" value="" />
                                    </div>
                                </div>
                            </li>

                            <li class="buttons" style="width:100%">
                                <input type="hidden" name="form_id" value="980618" />

                                <input id="saveForm" class="button_text" type="submit" name="submit" value="שלח" />
                            </li>
                        </ul>

                    </div>
                    <img id="bottom" src="~/Content/themes/Form/bottom.png" alt="">

                </div>
                <div id="step2" class="tab-pane fade" style="background-color:lightgrey; width: 100%; padding: 2%; border: solid navy; text-align:right">

                </div>
                <div id="step3" class="tab-pane fade" style="background-color:lightgrey; width: 100%; padding: 2%; border: solid navy; text-align:right">

                </div>
            </form>
        </div>
    </div>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>



</body>
</html>

