
<div>
    <marquee bgcolor="white" onmouseover="this.scrollAmount=0" onmouseout="this.scrollAmount=2" scrollamount="2" direction="up" loop="true" width="100%">
        <center>
            <font color="#ffffff" size="+1">SCROLLING TEXT</font><p>
                <font color="#ff0000" size="+1">UPWARD</font>
            <p>
                <font color="#ffffff" size="+1">IS ONE WAY</font>
            <p>
                <font color="#ffffff" size="+1">TO MAKE YOUR</font>
            <p>
                <font color="#ffffff" size="+1">SITE</font>
            <p>
                <font color="#ff0000" size="+1">STAND OUT</font>
            <p>
                <font color="#ffffff" size="+1">FROM THE REST!</font>
        </center>
    </marquee>
</div>

<div  id="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:45%;">
        <div class=" modal-content" dir="rtl">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" style="color:blue; text-align:center;"><b>הודעות</b></h3>
            </div>
            <div class="modal-body">
                <marquee bgcolor="white" onmouseover="this.scrollAmount=0" onmouseout="this.scrollAmount=3" scrollamount="4" direction="up" loop="true" width="100%">
                    <center>
                        <p>
                            <font size="+1">30/6/15- פגישת סיכום חודש מאי</font>
                        <p><p>
                            <font size="+1">7/6/15- !!שפיים ונהנים</font>
                        <p>
                            <font size="+1">10/6/15- יוסי הללי טכנאי מזגנים מגיע בשעה 15:30</font>
                        <p>
                            <font size="+1">20/6/15- יומולדת להילה!! 18:30 במשרד</font>
                        <p>
                            <font size="+1">30/6/15- פגישת סיכום חודש יוני</font>


                    </center>
                </marquee>
            </div>
        </div>
    </div>
</div>