@model Eli.Models.tblFinancingFactor

<h4>num=@Model.FinancingFactorNumber</h4>
<h4>name=@Model.Name</h4>
<h4>type=@Model.FinancingFactorType</h4>
<h4>phone=@Model.ContcatPhoneNumber</h4>
<h4>mail=@Model.ContactMail</h4>
